.navbar {
     display: flex;
    flex-direction: center;
    justify-content: space-around;
    background-color:orange;


}


.content {
    display:flex;
    background: orange;
    flex-wrap: wrap;
    justify-content:center;


}


.content h1 {
    
    justify-content:center;
}


.news {
    width: 33%;
}




















